:root {
    --bg-dark: #181C14;
    --bg-med: #3C3D37;
    --bg-light: #697565;
    --bg-detail: #ECDFCC;
}

body {
    margin:0;
}
html {
    background: var(--bg-dark);
}

#container {
    display: flex;
    height: 100vh;

    justify-content:center;
    align-items:center;
}

.window {
    width: 350px;
    height: 450px;

    background: var(--bg-med);
    border: 2px dashed var(--bg-light);
}

/* Custom Elements Styles */

.about {
}
