:root {
    --bg-dark: #181C14;
    --bg-med: #3C3D37;
    --bg-light: #697565;
    --bg-detail: #ECDFCC;
}

body {
    margin:0;
    display:flex; 
}
html {
    background: var(--bg-dark);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow-y: auto;

    width: 60vw;
    height: 100vh;
}

#menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 40vw;
    height:100vh;
}

.post1,.post2,.post3 {
    background: var(--bg-med);
    border: 2px dashed var(--bg-light);
    
    margin: 32px;
    padding: 16px;

    width: 80%;
}

/* Custom Elements Styles */

.about {
}
